<div id="abt">
<div class="container text-white">
    <div class="row">
        <h2 class="text-center m-5 display-6">Have some questions? <br><i class="fas fa-users"></i> Our team is happy to help!</h2>
        <hr>
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
            <h4>You can reach us at:</h4>
            <ul style="list-style: none;" >
                <li><a href="#" class="text-white">Facebook</a></li>
                <li><a href="#" class="text-white">Twitter</a></li>
                <li><a href="#" class="text-white">Join our whatsapp group</a></li>   
            </ul>
            <h6>
                <i class="fas fa-phone"></i>
                +040-630088832
            </h6>
        </div>
        <div class="col-sm-5">
            <h4>Any suggestions?</h4>
            <h5>We'd love to hear from you!</h5>
            <form>
                <textarea class="mt-3 " name="text area" cols="30" rows="3" placeholder="Drop a message here."></textarea>
            </form>
        </div>
    </div>
</div>
<footer class="sticky-footer">
    <div class="container-fluid text-white p-5" style="background-color: rgb(5, 11, 32)">
        <div class="row row-cols-1 row-cols-md-4">
          <div class="col">
              <div class="name">
                <h3 class="text-info" style="font-family: 'Lobster Two', cursive;">
                    <img src="https://t3.ftcdn.net/jpg/03/91/69/12/360_F_391691273_pU6ADe9mgUFnDSbsTIoFNTQYuQOCqwrW.jpg" width="50px" alt="">
                    Musivibez</h3>
              </div>
          </div>
          <div class="col">
            <ul class="list-unstyled">
                <li class="text-muted"><h5>COMPANY</h5></li>
                <li>
                    <a href="#" class="text-white">About</a>
                </li>
                <li>
                    <a href="#" class="text-white">Jobs</a>
                </li>
                <li>
                    <a href="#" class="text-white">For the record</a>
                </li>
            </ul>
          </div>
          <div class="col">
            <ul class = "list-unstyled">
                <li class="text-muted"><h5>COMMUNITIES</h5></li>
                <li>
                    <a href="#" class="text-white">For artists</a>
                </li>
                <li>
                    <a href="#" class="text-white">Developers</a>
                </li>
                <li>
                    <a href="#" class="text-white">Advertising</a>
                </li>
                <li>
                    <a href="#" class="text-white">Investors</a>
                </li>
                <li>
                    <a href="#" class="text-white">Vendors</a>
                </li>
            </ul>
          </div>
          <div class="col">
            <ul class = "list-unstyled">
                <li class="text-muted">USEFULL LINKS</li>
                <li>
                    <a href="#" class="text-white">Support</a>
                </li>
                <li>
                    <a href="#" class="text-white">Web player</a>
                </li>
                <li>
                    <a href="#" class="text-white">Free mobile app</a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    
</footer>
</div>

