<div id="dnld">
<div class="container">

    <div class="card mt-5">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL6JPtO7KVbj8_VE0xYJMdVIGCKrobUrygVQ&usqp=CAU" alt="Sorry!This image no longer exists."width=100% height=100%  >
                </div>
                <div class="col-sm-8">
                    <div class="text-center" style="margin-top: 5%;">
                        <h1>Download Now!</h1>
                        <h4>Connect with us anytime, anywhere.</h4>
                        <button class="btn btn-success p-2 mt-3">Download</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-white bg-dark text-center">
        <h5>Bring your music to all your devices.</h5>
        <div class="d-flex flex-wrap justify-content-evenly w-50 mx-auto">
            <div><img src="https://www-growth.scdn.co/static/badges/apple/en.png" alt=""></div>
            <div><img src="https://www-growth.scdn.co/static/badges/microsoft-windows/en.png" alt=""></div>
            <div><img src="https://www-growth.scdn.co/static/badges/google/en.png" alt=""></div>
        </div>
    </div>
    
    <hr style="color:rgb(21, 255, 0);">

</div>
<footer class="sticky-footer">
<div class="container-fluid text-white p-5" style="background-color: rgb(5, 11, 32)">
    <div class="row row-cols-1 row-cols-md-4">
      <div class="col">
          <div class="name">
            <h3 class="text-info " style="font-family: 'Lobster Two', cursive;">
                <img src="https://t3.ftcdn.net/jpg/03/91/69/12/360_F_391691273_pU6ADe9mgUFnDSbsTIoFNTQYuQOCqwrW.jpg" width="50px" alt="">
                Musivibez</h3>
          </div>
      </div>
      <div class="col">
        <ul class="list-unstyled">
            <li class="text-muted"><h5>COMPANY</h5></li>
            <li>
                <a href="#" class="text-white">About</a>
            </li>
            <li>
                <a href="#" class="text-white">Jobs</a>
            </li>
            <li>
                <a href="#" class="text-white">For the record</a>
            </li>
        </ul>
      </div>
      <div class="col">
        <ul class = "list-unstyled">
            <li class="text-muted"><h5>COMMUNITIES</h5></li>
            <li>
                <a href="#" class="text-white">For artists</a>
            </li>
            <li>
                <a href="#" class="text-white">Developers</a>
            </li>
            <li>
                <a href="#" class="text-white">Advertising</a>
            </li>
            <li>
                <a href="#" class="text-white">Investors</a>
            </li>
            <li>
                <a href="#" class="text-white">Vendors</a>
            </li>
        </ul>
      </div>
      <div class="col">
        <ul class = "list-unstyled">
            <li class="text-muted">USEFULL LINKS</li>
            <li>
                <a href="#" class="text-white">Support</a>
            </li>
            <li>
                <a href="#" class="text-white">Web player</a>
            </li>
            <li>
                <a href="#" class="text-white">Free mobile app</a>
            </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>