a{
    font-weight: bold;

}
.navbar{
    background-color: rgb(5, 11, 32);
}
.navbar-brand{
    font-family: 'Lobster Two', cursive;
}
.sticky-footer{
    position: sticky;
    top: 100%;
    background-color: rgb(5, 11, 32);
}